#message iframe[name=upload_image] {
	display: none;
}
#message #u_button { 
	display: inline-block;
	width: 20px;
	height: 15px; 
	overflow: hidden;
	text-decoration: none;
	cursor: default; 
	vertical-align: middle;
	margin-left: 4px;
	margin-top: -1px; 
	background: #fff url('data:image/gif;base64,R0lGODlhFAAPAKUBAAAAAP////z+/wDM/wHL/QPN/w/P/xjR/zPW/zbX/z/Z/0LZ/0ja/1fd/1re/2Pg/2bg/2/i/4Hm/4ro/43o/5nr/6Xt/8Pz/8b0/+H5/+r7//D8/xy0nlrCpCamZTGnYTKjUjqeQF2vYTqePTudO0CfQEKhQkmkSU+nT1OoU16vXl6uXmGwYWWyZXm8eZfLl53OnaLRoqTSpPj7+P3+/f///////////////////////////////////////////yH5BAEKAD8ALAAAAAAUAA8AAAaNQMhgSCwaI4GkcWk0JAMD53M63USf14ACIZhOMAGrFCplJKaXQiOcJU8tSM1hUMiIseNKYeBYDAkdIiMfMjRuARRLBB4kJicmJC00VxJMHCQoLAEsKCQwbVQBKSYsLgEuLCYpTEUhJ1QnJQ+sQyCkpqiqoVQvmJqcJC+7UzMsjY8kKjPDUzQxKyQrMYZBADs=') no-repeat bottom left;
}
#message #u_button input {
	 margin-left: -20px;
	 opacity: 0;
	 cursor: pointer;
	 width: 20px;
	 height: 15px;
}
#message #u_filename {
	 vertical-align: top;
	 font-size: 12px;
	 font-weight: normal;
	 margin-left: 5px;
}
