li.buffered > .sf-contextual-statuses-container {
  display: none;
}

.sf-contextual-statuses-container {
  clear: both;
  padding-top: 4px;
}

.sf-contextual-statuses-container .sf-toggle,
.sf-contextual-statuses-container .sf-indicator {
  @height: 1.8em;

  position: relative; // 解决被 li 遮挡无法点击的问题
  margin-left: 81%;
  margin-top: -@height;
  width: 65px;
  height: @height;
  border: 0;
  border-radius: 3px 3px 0 0;
  border-top-right-radius: 3px;
  font-size: 90%;
  line-height: @height;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  color: #666;
  cursor: pointer;
  animation: sf-fade-in 400ms;

  &:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.125);
  }

  &:focus {
    outline: 0;
  }
}

.sf-contextual-statuses-container .sf-toggle {
  &.sf-repost,
  &.sf-reply {
    padding: 0 0 0 21px;
    background-position: 9px center;
    background-repeat: no-repeat;
  }

  &.sf-repost {
    background-image: url("~@assets/images/repost.base64.svg");
  }

  &.sf-reply {
    background-image: url("~@assets/images/reply.base64.svg");
  }
}

.sf-contextual-statuses-container .sf-indicator {
  &.sf-waiting {
    background-image: url("https://static2.fanfou.com/img/ajax.gif");
    background-repeat: no-repeat;
    background-position: center;
    cursor: progress;
  }

  &.sf-not-available {
    text-decoration: line-through;
    cursor: not-allowed;
  }
}

.sf-contextual-statuses-container .sf-contextual-status {
  position: relative;
  box-sizing: border-box;
  display: block;
  min-height: 38px;
  width: calc(100% + 100px);
  margin-left: -67px;
  padding: 9px 33px 9px 67px;
  border-bottom: 1px solid #eee;
  background-color: rgba(0, 0, 0, 0.018);
  box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.08);
  font-size: 12px;
  line-height: 1.6;
  animation: sf-fade-in 400ms;

  &.sf-last {
    border-bottom-color: #ddd;
  }

  .author {
    display: block;
    float: none !important;
    margin: 0 0 2px !important;
    color: inherit;
    font-weight: 600;
    line-height: 1.6;
    text-decoration: none;
  }

  .content {
    display: block;
    line-height: 1.6;
    word-break: break-word;

    a.former,
    a.nickquery {
      text-decoration: none !important;
    }

    a.photo {
      display: inline-block;
      margin-top: 6px;
      border-radius: 0 !important;
    }

    a.photo img {
      display: block;
      max-width: 100px;
      max-height: 100px;
      padding: 0;
      border: 0;
    }

    a.zoom.gif span {
      right: 0 !important;
      bottom: 0 !important;
    }

    a.zoom.gif span::after {
      opacity: 1 !important;
      padding: 0 4px !important;
      background: rgba(0, 0, 0, 0.5) !important;
      font: inherit !important;
      font-size: 10px !important;
      font-weight: inherit !important;
      border-radius: 0 !important;
      backdrop-filter: saturate(100%) blur(30px);
      // stylelint-disable-next-line property-no-vendor-prefix
      -webkit-backdrop-filter: saturate(100%) blur(30px);
    }
  }

  .stamp {
    display: block;
    margin-top: 4px;
    color: #999;
  }

  .stamp a,
  .sf-contextual-time {
    border-bottom: none !important;
    color: inherit;
    text-decoration: none;
  }

  .op {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
  }

  .avatar {
    display: block;
    float: left;
    margin-left: -58px;
  }

  .avatar img {
    display: block;
    width: 32px;
    height: 32px;
  }
}

// 「展开」按钮可能会遮挡住原消息的图片，额外添加 margin 以避免重合
li[sf-contextual-statuses] .content .photo.zoom {
  margin-bottom: 18px;
}
