/* Global Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  cursor: default;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ul, ol, li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
input, textarea, select {
  color: inherit;
  font: inherit;
  outline: none;
  vertical-align: middle;
}

/* Private */
body {
  color: #555;
  font: 400 12px/1.5 "Lucida Grande", "Hevetica Neue", Hevetica, Tahoma, "Hiragino Sans GB", "Microsoft Yahei", "Wenquanyi MicroHei", sans-serif;
  -webkit-user-select: none;
}
::selection { 
  background: rgba(0, 0, 0, .1);
  text-shadow: none;
}
::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, .75);
  border: 0;
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  border: 0;
  background-clip: padding-box;
  background-color: transparent;
}
  ::-webkit-scrollbar-track:hover {
  }
  ::-webkit-scrollbar-track:active {
  }
::-webkit-scrollbar-thumb {
  border: 0;
  min-height: 24px;
  padding-top: 100;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, .3);
}
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, .5);
  }
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
a {
  color: #06c;
  text-decoration: underline;
}
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}
a:hover, a:active {
  outline: none;
}
em {
  font-style: italic;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.2em;
}
.left {
  float: left;
}
.clear {
  clear: both;
}
.hide {
  display: none !important;
}

/* Option Page */
#wrapper {
}
#navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 120px;
  z-index: 100;
}
#navigation h1 {
  margin: 15px 0 15px 18px;
  color: rgb(92, 97, 102);
  font-size: 1.5em;
}
#navigation ul {
  margin: 1em 0;
}
#navigation ul li {
  border-left: 6px solid transparent;
  padding: 0;
  line-height: 17px;
  cursor: pointer;
  -webkit-user-select: none;
}
#navigation ul li.current {
  border-left-color: rgb(78, 87, 100);
}
#navigation ul li a {
  display: block;
  border: 0;
  color: #999;
  cursor: pointer;
  line-height: 17px;
  padding: 6px 0 6px 18px;
  text-decoration: none;
}
#navigation ul li.current a {
  color: rgb(70, 78, 90);
}
#tip {
  margin-top: 10px;
  padding: 5px 8px;
  background: #ebf3f5;
  border-radius: 5px;
}
#tabs {
  margin-left: 155px;
  box-sizing: border-box;
  max-width: 718px;
  min-width: 420px;
  padding-top: 53px;
}
#tabs header {
  position: fixed;
  top: 0;
  left: 155px;
  right: 0;
  max-width: 718px;
  min-width: 420px;
  border-bottom: 1px solid #eee;
  padding: 15px 0 10px;
  z-index: 3;
  background-image: -webkit-linear-gradient(white, white 40%, rgba(255, 255, 255, 0.92));
}
#tabs h3 {
  margin: 12px 0;
}
#tabs ul {
}
#tabs ul p {
  margin-top: 12px;
}
#tabs ul span {
  color: #999;
}
#tabs ul li {
  margin-left: 18px;
  padding: 6px 0;
}
.more-settings {
  display: none;
}
footer {
  margin-bottom: 20px;
}
#tabs a img {
  cursor: pointer;
}
[id^="tabs"] {
  visibility: hidden;
}
#tabs0 li,
#tabs1 li,
#tabs2 li {
}
#tabs0 li label:hover,
#tabs1 li label:hover,
#tabs2 li label:hover {
  cursor: pointer;
}
#tabs0 li label a,
#tabs1 li label a,
#tabs2 li label a {
  color: inherit;
  text-decoration: none;
}
.info {
  margin-left: 15px;
  margin-bottom: 15px;
}
.info p {
  color: #999;
}
#tabs2 {
  margin-top: 15px;
}
input[type="checkbox"] {
  margin-top: 0;
}
input[type="number"] {
  width: 45px;
}
select {
  color: #555;
}
[foldable_tgt] {
  /* -webkit-transition: height .2s linear; */
  overflow: hidden;
}
[foldable].folded [foldable_tgt],
.init [foldable_tgt] {
  height: 0 !important;
  margin-top: 0 !important;
}
.sublabel {
  margin-left: 18px;
}
#screenshot {
  position: absolute;
  background: rgba(255, 255, 255, .9);
  padding: 12px 12px 7px 12px;
  border: 1px solid;
  border-top-color: rgba(0, 0, 0, .05);
  border-left-color: rgba(0, 0, 0, .1);
  border-right-color: rgba(0, 0, 0, .15);
  border-bottom-color: rgba(0, 0, 0, .2);
  border-radius: 5px;
  box-shadow:
    0 -1px 1px 1px #fff inset,
    0 1px 3px rgba(0, 0, 0, .1);
  -webkit-transition: opacity .2s ease-in;
  color: #333;
  text-shadow: 0 1px 0 white;
  pointer-events: none;
  left: 50%;
  top: 0;
}
#screenshot.fadeOut {
  opacity: 0;
}
#screenshot_img_wrapper {
  width: 200px;
  height: 80px;
  border-radius: 3px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#screenshot_img_wrapper img {
  border-radius: 3px;
  vertical-align: middle;
}
#screenshot #preview_des {
  display: block;
  padding-top: 5px;
}
#footer {
  border-top: 1px solid rgba(0, 0, 0, .15);
  padding-top: 10px;
}
#footer a {
  color: #999;
}

/* Why We Need This? */
.btn_apply {
  display: none;
}

/* Popup Page */
@media (max-width: 775px) {
  html {
    width: 560px !important;
    height: 600px;
    min-height: 600px;
    max-height: 600px;
    overflow-y: hidden !important;
  }
  #tabs {
    margin-left: 120px;
    max-width: 440px;
    min-width: 420px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #tabs header {
    left: 120px;
    max-width: 420px;
    min-width: 420px;
  }
  #tabs ul {
    max-width: 420px;
  }
  #tabs ul li {
    padding: 3px 0;
  }
  #tabs ul p {
    margin-top: 6px;
  }
}

/* Chrome Widgets */

/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* This file defines styles for form controls. The order of rule blocks is
 * important as there are some rules with equal specificity that rely on order
 * as a tiebreaker. These are marked with OVERRIDE. */

/* Default state **************************************************************/

:-webkit-any(button,
             input[type='button'],
             input[type='submit']):not(.custom-appearance):not(.link-button),
select,
input[type='checkbox'],
input[type='radio'] {
  -webkit-appearance: none;
  -webkit-user-select: none;
  background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08),
      inset 0 1px 2px rgba(255, 255, 255, 0.75);
  color: #444;
  font: inherit;
  margin: 0 1px 0 0;
  text-shadow: 0 1px 0 rgb(240, 240, 240);
}

:-webkit-any(button,
             input[type='button'],
             input[type='submit']):not(.custom-appearance):not(.link-button),
select {
  min-height: 2em;
  min-width: 4em;

}

:-webkit-any(button,
             input[type='button'],
             input[type='submit']):not(.custom-appearance):not(.link-button) {
  -webkit-padding-end: 10px;
  -webkit-padding-start: 10px;
}

select {
  -webkit-appearance: none;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 6px;
  /* OVERRIDE */
  background-image: -webkit-image-set(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC') 1x, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAQCAYAAACV3GYgAAAAWklEQVRIx+3VOwoAIAwD0B49N686CCJ+K0aHFrIl8LaKqsqvEccxcPEQo8bgNs4KTBth4HaByCMWbhWIcsDEzYCoy2xcD4hW8QWuBqJXeoXLQIwK/iEc57iDBIg+ClNpjek/AAAAAElFTkSuQmCC') 2x),
      -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
  background-position: right center;
  background-repeat: no-repeat;
}

html[dir='rtl'] select {
  background-position: center left;
}

input[type='checkbox'] {
  bottom: 2px;
  height: 13px;
  position: relative;
  vertical-align: middle;
  width: 13px;
}

input[type='radio'] {
  /* OVERRIDE */
  border-radius: 100%;
  bottom: 3px;
  height: 15px;
  position: relative;
  vertical-align: middle;
  width: 15px;
}

/* TODO(estade): add more types here? */
input[type='number'],
input[type='password'],
input[type='search'],
input[type='text'],
input[type='url'],
input:not([type]),
textarea {
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  box-sizing: border-box;
  color: #444;
  font: inherit;
  margin: 0;
  /* Use min-height to accommodate addditional padding for touch as needed. */
  min-height: 2em;
  padding: 3px;
/* For better alignment between adjacent buttons and inputs. */
  padding-bottom: 4px;
}

input[type='search'] {
  -webkit-appearance: textfield;
  /* NOTE: Keep a relatively high min-width for this so we don't obscure the end
   * of the default text in relatively spacious languages (i.e. German). */
  min-width: 160px;
}

/* Remove when https://bugs.webkit.org/show_bug.cgi?id=51499 is fixed.
 * TODO(dbeam): are there more types that would benefit from this? */
input[type='search']::-webkit-textfield-decoration-container {
  direction: inherit;
}

/* Checked ********************************************************************/

input[type='checkbox']:checked::before {
  -webkit-user-select: none;
  background-image: -webkit-image-set(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC') 1x, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAA60lEQVQ4y2P4//8/Ay0wA00NpgC4AXEksgA1DNYA4vVAvBnZcEoNFgLihVBDNyMbTonBLEDchWYo3HBKDM7BYSgIZ5JrsBseQxuBmIkcg5EjCx1PBmJufGHsBMQFQMxORGTB8BIglsCXKmSBeA1U8RQgliMistYBsTq+dAxy4TQ0TSBLnPFE1iYgdkAPL3SDC/BECi4cjS0i0A12RgoGYnAxEDMSYzAIyGMJDmy4B4jZcCUdXKmCnUCwzAVifnxpklA6xhY0K4BYgVBiJyaDgIJmKtTQjUBsTEwuIjbnwYLGi9jsSZ8aZEgZDACI3DQYaeTU0AAAAABJRU5ErkJggg==') 2x);
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
}

input[type='radio']:checked::before {
  background-color: #666;
  border-radius: 100%;
  bottom: 3px;
  content: '';
  display: block;
  left: 3px;
  position: absolute;
  right: 3px;
  top: 3px;
}

/* Hover **********************************************************************/

:enabled:hover:-webkit-any(
    select,
    input[type='checkbox'],
    input[type='radio'],
    :-webkit-any(
        button,
        input[type='button'],
        input[type='submit']):not(.custom-appearance):not(.link-button)) {
  background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12),
      inset 0 1px 2px rgba(255, 255, 255, 0.95);
  color: black;
}

:enabled:hover:-webkit-any(select) {
  /* OVERRIDE */
  background-image: -webkit-image-set(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC') 1x, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAQCAYAAACV3GYgAAAAWklEQVRIx+3VOwoAIAwD0B49N686CCJ+K0aHFrIl8LaKqsqvEccxcPEQo8bgNs4KTBth4HaByCMWbhWIcsDEzYCoy2xcD4hW8QWuBqJXeoXLQIwK/iEc57iDBIg+ClNpjek/AAAAAElFTkSuQmCC') 2x),
      -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
}

/* Active *********************************************************************/

:enabled:active:-webkit-any(
    select,
    input[type='checkbox'],
    input[type='radio'],
    :-webkit-any(
        button,
        input[type='button'],
        input[type='submit']):not(.custom-appearance):not(.link-button)) {
  background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  box-shadow: none;
  text-shadow: none;
}

:enabled:active:-webkit-any(select) {
  /* OVERRIDE */
  background-image: -webkit-image-set(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC') 1x, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAQCAYAAACV3GYgAAAAWklEQVRIx+3VOwoAIAwD0B49N686CCJ+K0aHFrIl8LaKqsqvEccxcPEQo8bgNs4KTBth4HaByCMWbhWIcsDEzYCoy2xcD4hW8QWuBqJXeoXLQIwK/iEc57iDBIg+ClNpjek/AAAAAElFTkSuQmCC') 2x),
      -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
}

/* Disabled *******************************************************************/

:disabled:-webkit-any(
    button,
    input[type='button'],
    input[type='submit']):not(.custom-appearance):not(.link-button),
select:disabled {
  background-image: -webkit-linear-gradient(#f1f1f1, #f1f1f1 38%, #e6e6e6);
  border-color: rgba(80, 80, 80, 0.2);
  box-shadow: 0 1px 0 rgba(80, 80, 80, 0.08),
      inset 0 1px 2px rgba(255, 255, 255, 0.75);
  color: #aaa;
}

select:disabled {
  /* OVERRIDE */
  background-image: -webkit-image-set(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAWklEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEIGhoa/uPCIHmiDQNihQULFizEZhBIHCRPijexGggzCCpPvGHoBiIbRJZhMAPfvn3bhGwQ2YZBNbJiEcPAAIgGZrTRc1ZLAAAAAElFTkSuQmCC') 1x, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAQCAYAAAB6Hg0eAAAAX0lEQVRIx+3UOwoAIAxEwRz93TwWIoj4lwRBA9vtwlQRVZUbcyVqCUY8PQwWsFMcgFjBdnGkvSVsFUe+tYbN4ih3HrARjtrGC9bC0ep7wkocva43LOEY9d75/B/2YZsJM1B42fe2uWoAAAAASUVORK5CYII=') 2x),
      -webkit-linear-gradient(#f1f1f1, #f1f1f1 38%, #e6e6e6);
}

input:disabled:-webkit-any([type='checkbox'],
                           [type='radio']) {
  opacity: .75;
}

input:disabled:-webkit-any([type='password'],
                           [type='search'],
                           [type='text'],
                           [type='url'],
                           :not([type])) {
  color: #999;
}

/* Focus **********************************************************************/

:enabled:focus:-webkit-any(
    select,
    input[type='checkbox'],
    input[type='number'],
    input[type='password'],
    input[type='radio'],
    input[type='search'],
    input[type='text'],
    input[type='url'],
    input:not([type]),
    :-webkit-any(
         button,
         input[type='button'],
         input[type='submit']):not(.custom-appearance):not(.link-button)) {
  /* OVERRIDE */
  -webkit-transition: border-color 200ms;
  /* We use border color because it follows the border radius (unlike outline).
   * This is particularly noticeable on mac. */
  border-color: rgb(77, 144, 254);
  outline: none;
}

/* Link buttons ***************************************************************/

.link-button {
  -webkit-box-shadow: none;
  background: transparent none;
  border: none;
  color: rgb(17, 85, 204);
  cursor: pointer;
  /* Input elements have -webkit-small-control which can override the body font.
   * Resolve this by using 'inherit'. */
  font: inherit;
  margin: 0;
  padding: 0 4px;
  outline: 0;
}

.link-button:hover {
  text-decoration: underline;
}

.link-button:active {
  color: rgb(5, 37, 119);
  text-decoration: underline;
}

.link-button[disabled] {
  color: #999;
  cursor: default;
  text-decoration: none;
}

/* Checkbox/radio helpers ******************************************************
 *
 * .checkbox and .radio classes wrap labels. Checkboxes and radios should use
 * these classes with the markup structure:
 *
 *   <div class="checkbox">
 *     <label>
 *       <input type="checkbox"></input>
 *       <span>
 *     </label>
 *   </div>
 */

:-webkit-any(.checkbox, .radio) label {
  /* Don't expand horizontally: <http://crbug.com/112091>. */
  display: -webkit-inline-box;
  padding-bottom: 7px;
  padding-top: 7px;
}

:-webkit-any(.checkbox, .radio) label input ~ span {
  -webkit-margin-start: 0.6em;
  /* Make sure long spans wrap at the same horizontal position they start. */
  display: block;
}

:-webkit-any(.checkbox, .radio) label:hover {
  color: black;
}

label > input:disabled:-webkit-any([type='checkbox'], [type='radio']) ~ span {
  color: #999;
}

/* Fix */
input[type='checkbox'],
input[type='radio'] {
  margin-right: 5px;
  margin-bottom: -1px;
}
body.uber-frame footer {
  border-top: 1px solid #eee;
  margin-top: 16px;
  max-width: 638px;
  min-width: 600px;
  padding: 8px 0;
}
body.uber-frame #tabs3 footer {
        margin-top: 0;
}