/* Global Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
ul, ol, li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
input, textarea, select {
	color: inherit;
	font: inherit;
	outline: none;
	vertical-align: middle;
}

/* Private */
body {
	color: #555;
	background: #fff url(../images/bg.png) repeat;
	font: 400 12px/1.5 "Lucida Grande", "HelveticaNeue-Light", "Helvetica Neue Light", Hevetica, Tahoma, "Hiragino Sans GB", "Microsoft Yahei", "Wenquanyi MicroHei", sans-serif;
}
::selection, ::-moz-selection { 
	color: rgba(255,255,255,.75);
	background: rgba(0,0,0,.5);
	text-shadow: none;
}
a {
	color: #06c;
	text-decoration: underline;
}
a:link {
	-webkit-tap-highlight-color: #FF5E99;
}
a:hover, a:active {
	outline: none;
}

em {
	font-style: italic;
}
h1 {
	font-size: 20px;
	padding: 5px 8px;
	background: #ebf3f5;
	border-radius: 5px;
}
h2 {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 0 8px;
	border-bottom: 3px solid #eee;
}
h3 {
	font-size: 12px;
}
h4 {
	font-size: 12px;
}

/* Screen */
#wrapper {
	width: 400px;
	max-width: 400px;
	max-height: 600px;
	margin: 0 auto;
	padding: 10px;
}
#tip {
	margin-top: 10px;
	padding: 5px 8px;
	background: #ebf3f5;
	border-radius: 5px;
}
.comment {
	color: #999;
	margin-left: 5px;
}
.comment:before {
	content: "- ";
}
#btn_apply {
	float: right;
	margin: -2px -2px 0 0;
}
#footer {
	margin-top: 10px;
	color: #999;
}
